Repository Project-market-service/share-your-portfolio, pull requests merged in 2021-09, with the labels that each got.

#8 Feature/frontend - Vuetify 적용하여 화면 재구성
  frontend-by-vuetify/.gitignore
  frontend-by-vuetify/README.md
  frontend-by-vuetify/babel.config.js
  frontend-by-vuetify/package-lock.json
  frontend-by-vuetify/package.json
  frontend-by-vuetify/public/favicon.ico
  frontend-by-vuetify/public/index.html
  frontend-by-vuetify/src/App.vue
  frontend-by-vuetify/src/api/AccountApi.js
  frontend-by-vuetify/src/api/AuthApi.js
  frontend-by-vuetify/src/api/ChatApi.js
  frontend-by-vuetify/src/assets/images/loading.gif
  frontend-by-vuetify/src/assets/images/logo.png
  frontend-by-vuetify/src/assets/images/no-account-image.png
  frontend-by-vuetify/src/assets/images/test/post.jpg
  frontend-by-vuetify/src/components/AppHeader.vue
  frontend-by-vuetify/src/components/LogoImage.vue
  frontend-by-vuetify/src/components/MessageUserInfo.vue
  frontend-by-vuetify/src/components/PostHeader.vue
  frontend-by-vuetify/src/components/UserImage.vue
  frontend-by-vuetify/src/components/layout/CenterCard.vue
  frontend-by-vuetify/src/main.js
  frontend-by-vuetify/src/plugins/axios.js
  frontend-by-vuetify/src/plugins/vuetify.js
  frontend-by-vuetify/src/router/index.js
  frontend-by-vuetify/src/router/routes.js
  frontend-by-vuetify/src/store/index.js
  frontend-by-vuetify/src/store/modules/user.js
  frontend-by-vuetify/src/utils/AuthUtils.js
  frontend-by-vuetify/src/views/AccountView.vue
  frontend-by-vuetify/src/views/LoginView.vue
  frontend-by-vuetify/src/views/MainView.vue
  frontend-by-vuetify/src/views/MessageView.vue
  frontend-by-vuetify/src/views/PostView.vue
  frontend-by-vuetify/src/views/SignupView.vue
  frontend-by-vuetify/vue.config.js
  src/main/java/com/spring/api/domain/chat/model/UserListDTO.java
  src/main/resources/mappers/chat/MessageManageMapper.xml
Labels: frontend

#9 transaction is added, 14th of Sep
  frontend/src/components/post/PostHeader.vue
  pom.xml
  src/main/java/com/spring/api/domain/upload/controller/UploadFileController.java
  src/main/java/com/spring/api/domain/upload/mapper/ManagePostMapper.java
  src/main/java/com/spring/api/domain/upload/service/UploadService.java
  src/main/java/com/spring/api/domain/upload/service/impl/UploadServiceImpl.java
  src/main/java/com/spring/api/global/webapp/config/DatabaseConfig.java
Labels: backend

#10 게시물 목록/조회 화면 수정 및 API 연동
  frontend-by-vuetify/src/api/PostApi.js
  frontend-by-vuetify/src/views/MainView.vue
  frontend-by-vuetify/src/views/PostView.vue
  src/main/java/com/spring/api/domain/model/Post.java
  src/main/java/com/spring/api/domain/upload/controller/UploadFileController.java
  src/main/java/com/spring/api/domain/upload/mapper/ManagePostMapper.java
  src/main/java/com/spring/api/domain/upload/service/UploadService.java
  src/main/java/com/spring/api/domain/upload/service/impl/UploadServiceImpl.java
  src/main/java/com/spring/api/global/security/config/SecurityConfig.java
  src/main/resources/mappers/upload/ManagePostMapper.xml
Labels: backend, frontend
